
/* pour que la couleur de fond soit constante */
body {
    background-color: #F0F8FF;
}

/* code css pour mon bouton de retour.*/
.back {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #B9ECDA;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s;
}

.back:hover {
    transform: scale(1.1);
}

.Image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.back img {
    width: 30px;
    height: 30px;
}
