body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    display: flex;  
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 15px; 
    margin: 30px 15px;
}

.Shakespeare img {
    width: 150px; 
    height: 150px;
    border-radius: 100px; 
    border: 3px solid #243119;
    margin: 0 auto;
}


.title {
    text-align: center;
    margin: 0;
    color: #243119;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

h4 {
    font-size: 30px;
    font-style: italic;
    color: #555;
    margin: 15px 0;
}


.poem_container {
    background-color: #C9F2C7;
    border-radius: 100px;
    border: 4px dashed #243119;
    padding: 20px;
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.poem_text {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    
}

.Shakespeare:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

